{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Acceuil {% endblock %}

{% block body %}
<h1> Bienvenue sur la page d'Acceuil de l'application de gestion de contacts</h1>
<p>Vous pouvez consulter la liste des contacts en cliquant sur le lien ci-dessous</p>
{% endblock %}
